<div class="main-content">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <!--#region watermark-->
        <div class="watermark" hidden>
          <h6>{{this.companyName}}</h6>
          <h6>{{this.userName}}</h6>
          <h6>{{this.sysDate | date}} {{this.currentTime}}</h6>
        </div>
        <!--#endregion watermark-->
        <div class="card-header ">
          <h5 class="card-title">Allocation Info</h5>
        </div>
        <div class="card-body ">
          <!--#region form-->
          <form #allocationdetailForm="ngForm"
            (ngSubmit)="onFormSubmit(allocationdetailForm.value, allocationdetailForm.valid)">

            <!--#region button save, post, cancel dan back-->
            <button type="submit" class="btn btn-info btn-round" [hidden]="isButton"
              data-role="R00003330002334C">Save</button>
            <!-- <button type="button" class="btn btn-success btn-round" [hidden]="isButton || param == null"
              data-role="R00003330000334O" (click)="btnPaid(allocationdetailForm.valid)">Post</button> -->
            <button type="button" class="btn btn-success btn-round" [hidden]="isButton || param == null"
              data-role="R00003330004335O" (click)="btnProceed(allocationdetailForm.valid)">Proceed</button>
            <!-- <button type="button" class="btn btn-warning btn-round" data-role="R00003330002334O"
              [hidden]="model.allocation_status !== 'PAID' || param == null" (click)="btnReversal()">Reversal</button> -->
            <!--(+) Ari 2023-09-26 ket : change status-->
            <button type="button" class="btn btn-warning btn-round" data-role="R00003330002334O"
              [hidden]="model.allocation_status !== 'APPROVE' || param == null"
              (click)="btnReversal()">Reversal</button>
            <button type="button" class="btn btn-warning btn-round" [hidden]="isButton || param == null"
              data-role="R00003330000334R" (click)="btnCancel()">Cancel</button>
            <button
              [hidden]="this.param == null || model.allocation_status == 'CANCEL'"
              type="button" style='float: right;' class="btn btn-success btn-round custom-button-width"
              (click)="btnViewApproval()" data-toggle="modal" data-target="#lookupModalApproval" href="#">
              View Approval
            </button>
            <!--(+) Ari 2023-09-15 ket : add view approval for reversal-->
            <button
              [hidden]="this.param == null || model.allocation_status !== 'ON REVERSE' && model.allocation_status !== 'REVERSE' && model.allocation_status !== 'APPROVE' && model.allocation_status !== 'HOLD'"
              type="button" style='float: right;' class="btn btn-success btn-round custom-button-width"
              (click)="btnViewApprovalReversal()" data-toggle="modal" data-target="#lookupModalApproval" href="#">
              View Approval Reversal
            </button>

            <button type="button" class="btn btn-danger btn-round" (click)="btnBack()">Back</button>
            <!--#endregion button save, post, cancel dan back-->

            <!--#region row-->
            <div class="row">
              <!--#region code-->
              <div class="col-md-4">
                <div [hidden]="model.code != null" class="row" style="margin-bottom: -15px; padding-top: 30px;">
                  <h1 class="col-md-4" style="font-size: 12px;">Allocation No</h1>
                  <h1 class="col-md-8" style="font-size: 12px;">-Auto
                    Generate-</h1>
                </div>
                <div [hidden]="model.code == null" class="form-group">
                  <label>Allocation No </label>
                  <input type="text" class="form-control" [ngModel]="model.code" maxlength="50" name="p_code"
                    [readonly]="isReadOnly">
                </div>
              </div>
              <!--#endregion code-->

              <!--#region Branch Code-->
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label labelmodule">Branch *</label>
                  <div class="col-md-12 buttons btn-lookup-margin">
                    <span>
                      <button [disabled]="isReadOnly" class="btn btn-icon btn-outline-default btn-round btn-md"
                        type="button" (click)="btnLookupSysBranch()" data-toggle="modal"
                        data-target="#lookupModalSysBranch" href="#"><i class="fa fa-search-plus"></i></button>
                      {{model.branch_name}}
                    </span>
                    <input type="text" [ngModel]="model.branch_name" maxlength="250" name="p_branch_name" hidden
                      required #branch_name="ngModel">
                    <input type="text" [ngModel]="model.branch_code" maxlength="50" name="p_branch_code" hidden>
                  </div>
                  <small [hidden]="branch_name.valid || (branch_name.pristine && !allocationdetailForm.submitted)"
                    class="text-danger">
                    Branch is required
                  </small>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Branch </label>
                  <input type="text" class="form-control" readonly [ngModel]="model.branch_name" maxlength="250" name="p_branch_name">
                  <input type="hidden" class="form-control" [ngModel]="model.branch_code" name="p_branch_code">
                </div>
              </div> -->
              <!--#endregion Branch Code-->

              <!--#region  Status-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Status</label>
                  <input readonly type="text" class="form-control" [ngModel]="model.allocation_status"
                    name="p_allocation_status">
                </div>
              </div>
              <!--#endregion  Status-->

              <!--#region  allocation_trx_date -->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="allocation_trx_date" class="control-label">Allocation Date </label>
                  <input class="form-control col-md-6" placeholder="dd/mm/yyyy" angular-mydatepicker
                    [ngModel]="model.allocation_trx_date" name="p_allocation_trx_date" [options]="myDatePickerOptions"
                    #p_allocation_trx_date="ngModel" #allocation_trx_date="angular-mydatepicker" autocomplete="off"
                    readonly />
                </div>
              </div>
              <!--#endregion allocation_trx_date -->

              <!--#region cashier no-->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Cashier No</label>
                  <input readonly type="text" class="form-control" [ngModel]="model.cashier_code" name="p_cashier_code">
                </div>
              </div> -->
              <!--#endregion cashier no-->

              <!--#region cashier name-->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Cashier Name</label>
                  <input readonly type="text" class="form-control" [ngModel]="model.cashier_name" name="p_cashier_name">
                </div>
              </div> -->
              <!--#endregion cashier name-->

              <!--#region suspend_code-->
              <div class="col-md-4">
                <!--#region row-->
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Suspend *</label>
                      <div class="col-md-12 buttons btn-lookup-margin">
                        <span>
                          <button [disabled]="isButton" class="btn btn-icon btn-outline-default btn-round btn-md"
                            type="button" (click)="btnLookupSuspend()" data-toggle="modal"
                            data-target="#lookupModalSuspend" href="#"><i class="fa fa-search-plus"></i></button>
                          {{model.suspend_code}}
                          <input type="hidden" class="form-control" [ngModel]="model.suspend_code" name="p_suspend_code"
                            required #suspend_code="ngModel">
                        </span>
                      </div>
                      <small [hidden]="suspend_code.valid || (suspend_code.pristine && !allocationdetailForm.submitted)"
                        class="text-danger">
                        Suspend is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Currency</label>
                      <input type="text" class="form-control" maxlength="3" [ngModel]="model.allocation_currency_code"
                        name="p_allocation_currency_code" readonly>
                    </div>
                  </div>
                </div>
              </div>
              <!--#endregion suspend_code-->

              <!--#region allocation_currency_code-->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label>Currency</label>
                  <input type="text" class="form-control col-md-4" maxlength="3" [ngModel]="model.allocation_currency_code"
                    name="p_allocation_currency_code" readonly>
                </div>
              </div> -->
              <!--#endregion allocation_currency_code-->

              <!--#region suspend_amount-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Outstanding Suspend Amount</label>
                  <div class="row" style="margin: auto;">
                    <input type="text" class="form-control col-md-6" style="text-align: right;"
                      [ngModel]="model.suspend_amount | number : '1.2-2'" name="p_suspend_amount" maxlength="24"
                      amount="suspend_amount" readonly>
                    <span class="col-md-6">
                      <button type="button" class="btn btn-info btn-round"
                        [hidden]="is_received_request || param == null || isButton"
                        (click)="btnGenerateByClick(model.code, model.suspend_amount)"
                        style="width: fit-content;margin: auto;" data-role="R00003330000000C">Auto
                        Allocation</button>
                    </span>
                  </div>
                </div>
              </div>
              <!--#endregion suspend_amount-->

              <!--#region allocation_value_date-->
              <div class="col-md-4">
                <div class="form-group"
                  [class.has-error]="p_allocation_value_date.invalid && p_allocation_value_date.touched">
                  <label for="allocation_value_date" class="control-label">Value Date *</label>
                  <input [ngStyle]="getStyles(isButton)" class="form-control col-md-6" placeholder="dd/mm/yyyy"
                    angular-mydatepicker [ngModel]="model.allocation_value_date" name="p_allocation_value_date"
                    [options]="myDatePickerOptions" (click)="allocation_value_date.toggleCalendar()" required
                    #p_allocation_value_date="ngModel" #allocation_value_date="angular-mydatepicker" autocomplete="off"
                    [readonly]="isButton" (dateChanged)="valueDate($event)" />
                  <small
                    *ngIf="(p_allocation_value_date.errors?.required && p_allocation_value_date.touched) || (p_allocation_value_date.errors?.required && allocationdetailForm.submitted)"
                    class="text-danger">
                    Value Date is required
                  </small>
                </div>
              </div>
              <!--#endregion allocation_value_date -->

              <!--#region agreement no-->
              <div class="col-md-4">
                <!--#region row-->
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label>Agreement No *</label>
                      <div class="col-md-12 buttons btn-lookup-margin">
                        <span>
                          <button [disabled]="isReadOnly" class="btn btn-icon btn-outline-default btn-round btn-md"
                            type="button" (click)="btnLookupAgreement()" data-toggle="modal"
                            data-target="#lookupModalAgreement" href="#"><i class="fa fa-search-plus"></i></button>
                          {{model.agreement_external_no}}
                          <input type="hidden" class="form-control" [ngModel]="model.agreement_no" name="p_agreement_no"
                            required #agreement_no="ngModel">
                        </span>
                      </div>
                      <small [hidden]="agreement_no.valid || (agreement_no.pristine && !allocationdetailForm.submitted)"
                        class="text-danger">
                        Agreement No is required
                      </small>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Currency</label>
                      <input readonly type="text" class="form-control" [ngModel]="model.currency_code"
                        name="p_currency_code">
                    </div>
                  </div>
                </div>
                <!--#endregion row-->
              </div>
              <!--#endregion agreement no-->

              <!--#region client name-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Client Name</label>
                  <input type="text" class="form-control" [ngModel]="model.client_name" name="p_client_name" readonly>
                </div>
              </div>
              <!--#endregion client name-->

              <!--#region allocation_orig_amount-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="allocation_orig_amount" class="control-label">Orig Amount <b [hidden]="isLabel"
                      style="color: red;">Amount updated by detail allocation</b></label>
                  <input type="text" class="form-control col-md-6" style="text-align: right;"
                    [ngModel]="model.allocation_orig_amount | number : '1.2-2'" name="p_allocation_orig_amount"
                    #allocation_orig_amount="ngModel" maxlength="24" amount="allocation_orig_amount" readonly>
                </div>
              </div>
              <!--#endregion allocation_orig_amount-->

              <!--#region allocation_exch_rate-->
              <div class="col-md-4">
                <div class="form-group"
                  [class.has-error]="allocation_exch_rate.invalid && allocation_exch_rate.touched">
                  <label for="allocation_exch_rate" class="control-label">Exch Rate *</label>
                  <input type="text" class="form-control col-md-6" style="text-align: right;"
                    [ngModel]="model.allocation_exch_rate | number : '1.6-6'" name="p_allocation_exch_rate" required
                    #allocation_exch_rate="ngModel" maxlength="23" rate="allocation_exch_rate"
                    (change)="exchRate($event)" [readonly]="isButton || isCurrency">
                  <small
                    *ngIf="(allocation_exch_rate.errors?.required && allocation_exch_rate.touched) || (allocation_exch_rate.errors?.required && allocationdetailForm.submitted)"
                    class="text-danger">
                    Exch Rate is required
                  </small>
                </div>
              </div>
              <!--#endregion allocation_exch_rate-->

              <!--#region allocation_base_amount-->
              <div class="col-md-4">
                <div class="form-group">
                  <label>Base Amount <b [hidden]="isLabel" style="color: red;">Amount updated by detail
                      allocation</b></label>
                  <input type="text" class="form-control col-md-6" style="text-align: right;"
                    [ngModel]="model.allocation_base_amount | number : '1.2-2'" name="p_allocation_base_amount"
                    maxlength="24" amount="allocation_base_amount" readonly>
                </div>
              </div>
              <!--#endregion allocation_base_amount-->

              <!--#region is_received_request-->
              <div class="col-md-4">
                <label>Received Type</label>
                <div class="form-group col-md-6" style="margin-left: 15px;">
                  <div class="row">
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="p_is_received_request" value="0"
                          [disabled]="isReadOnly" (change)="receivedType($event)"
                          [ngModel]="model.is_received_request">Entry
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                    <div class="form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="p_is_received_request" value="1"
                          [disabled]="isReadOnly" (change)="receivedType($event)"
                          [ngModel]="model.is_received_request">Request
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!--#endregion is_received_request-->

              <!--#region allocationt_remarks-->
              <div class="col-md-4">
                <div class="form-group">
                  <label for="allocationt_remarks" class="control-label">Remark *</label>
                  <textarea type="text" class="form-control" maxlength="4000" [ngModel]="model.allocationt_remarks"
                    name="p_allocationt_remarks" required #allocationt_remarks="ngModel"
                    [readonly]="isButton"></textarea>
                  <small
                    *ngIf="(allocationt_remarks.errors?.required && allocationt_remarks.touched) || (allocationt_remarks.errors?.required && allocationdetailForm.submitted)"
                    class="text-danger">
                    Remark is required
                  </small>
                </div>
              </div>
              <!--#endregion allocationt_remarks-->
            </div>
            <!--#endregion  row-->
          </form>
          <!--#endregion readonly-->
        </div>
        <div *ngIf="param != null" class="row">
          <div class="col-md-12">
            <div class="card-header">
              <h5 class="card-title">Allocation List </h5>
            </div>
            <div class="card-body">
              <!--#region button add-->
              <div class="toolbar" [hidden]="isButton">
                <button [hidden]="is_received_request" class="btn btn-info btn-round" (click)="btnSaveList()"
                  data-role="R00003330003334C">
                  Save
                </button>
                <!-- <button type="button" class="btn btn-success btn-round" [hidden]="is_received_request"
                  (click)="btnGenerate()" data-role="R0000025U">Generate</button> -->
                <!-- <button type="button" class="btn btn-success btn-round" [hidden]="is_received_request"
                  (click)="btnAutoAllocation()" style="width: fit-content;" data-role="R0000025U">Auto Allocation</button> -->
                <button [hidden]="!is_received_request" class="btn btn-info btn-round" type="button"
                  (click)="btnlookupCashiesrReceivedRequest()" data-target="#lookupModalCashiesrReceivedRequest"
                  data-role="R00003330004334C" data-toggle="modal" href="#">
                  Add </button>
                <button class="btn btn-danger btn-round" [hidden]="!is_received_request" (click)="btnDeleteAll()"
                  data-role="R00003330002334D">
                  Delete
                </button>
              </div>
              <!--#endregion button add-->

              <!--#region list view-->
              <table id="datatablesAllocationDetail" datatable [dtOptions]="dtOptions"
                class="table table-striped table-bordered row-border hover" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="disabled-sorting">No</th>
                    <th class="disabled-sorting">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="checkalltable"
                            [(ngModel)]="selectedAllTable" (change)="selectAllTable();" />
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </th>
                    <th>Allocation</th>
                    <th>Invoice No/ Date/ Due Date/ Installment No</th>
                    <th>Invoice Amount/ PPN/ PPH</th>
                    <!-- <th>Installment No</th> -->
                    <th>Due Amount</th>
                    <th>Orig Amount</th>
                    <th>Base Amount</th>
                    <th>Paid</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of listallocationdetail; let i = index">
                    <td style="text-align: center;">{{listallocationdetail.numberIndex+i+1}}</td>
                    <td class="disabled-sorting">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" [(ngModel)]="row.selectedTable"
                            (change)="checkIfAllTableSelected($event, row.id);">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td style="width: 15%;">{{row.transaction_no}} <br> {{row.transaction_name}}</td>
                    <td style="text-align: left;width: 15%;"> {{row.invoice_external_no}} <br> {{row.invoice_date}}
                      <br> {{row.invoice_due_date}}
                    </td>
                    <td style="text-align: right;width: 15%;"> {{row.invoice_billing_amount | number : '1.2-2'}} <br>
                      {{row.invoice_ppn_amount | number : '1.2-2'}} <br> {{row.invoice_pph_amount | number :
                      '1.2-2'}} </td>
                    <!-- <td style="text-align: right;width: 10%;">{{row.installment_no}} </td> -->
                    <td style="text-align: right;width: 15%;"> {{row.innitial_amount | number : '1.2-2'}} </td>
                    <td style="text-align: right;width: 15%;"> {{row.orig_amount | number :
                      '1.2-2'}} <br> {{row.exch_rate | number : '1.6-6'}} </td>
                    <td style="text-align: right;width: 15%;">
                      <div class="form-group">
                        <input class="text-right" type="hidden" value="{{row.exch_rate}}" name="p_exch_rate">
                        <input class="text-right" type="hidden" value="{{row.innitial_amount}}"
                          name="p_innitial_amount">
                        <input id="base_amount{{i}}" (blur)="onBlur($event,i,'amount')"
                          (focus)="onFocus($event,i,'amount')" class="text-right" type="text"
                          value="{{row.base_amount | number : '1.2-2'}}" amount="base_amount" name="p_base_amount"
                          [disabled]="isButton || is_received_request || row.is_module || row.is_partial">
                      </div>
                    </td>
                    <td class="disabled-sorting">
                      <div class="form-check" style="text-align: center;">
                        <label class="form-check-label">
                          <input type="hidden" value="{{row.id}}" name="p_id">
                          <input [disabled]="isButton || is_received_request" id="is_paid{{i}}" class="form-check-input"
                            type="checkbox" [checked]="row.is_paid" name="p_is_paid" (click)="OnPaid($event, i)">
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--#endregion list view-->
            </div>
            <div class="card-footer ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--#region lookup Branch-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalSysBranch"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupSysBranch" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th class="disabled-sorting">No</th>
                  <th style="display: none;"></th>
                  <th>Code</th>
                  <th>Name</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupbranch;let i=index ">
                  <td style="text-align: center;">{{lookupbranch.numberIndex+i+1}}</td>
                  <td style="display: none;"></td>
                  <td style="width: 30%; text-align: center;">{{ row.code }}</td>
                  <td style="width: 70%;">{{ row.name }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowSysBranch(row.code, row.name)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup Branch-->

<!--#region lookup agreement-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalAgreement"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupAgreement" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th class="disabled-sorting">No</th>
                  <th style="display: none;"></th>
                  <th>Agreement No</th>
                  <th>Installment Amount</th>
                  <th>Asset</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupagreement;let i=index ">
                  <td style="text-align: center;">{{lookupagreement.numberIndex+i+1}}</td>
                  <th style="display: none;"></th>
                  <td style="width: 30%;">{{ row.agreement_external_no }} <br> {{ row.client_name }}</td>
                  <td class="text-right" style="width: 20%;">{{ row.installment_amount | number : '1.2-2' }} <br> {{
                    row.currency_code }} </td>
                  <td style="width: 50%;">{{ row.asset_description }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowAgreement(row.agreement_no, row.agreement_external_no, row.client_name, row.currency_code)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup agreement-->

<!--#region lookup suspend-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalSuspend"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">
            <table id="datatableLookupSuspend" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th class="disabled-sorting">No</th>
                  <th style="display: none;"></th>
                  <th>Suspend No</th>
                  <th>Date</th>
                  <th>Remark</th>
                  <th>Currency</th>
                  <th>Amount </th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupsuspend;let i=index ">
                  <td style="text-align: center;">{{lookupsuspend.numberIndex+i+1}}</td>
                  <th style="display: none;"></th>
                  <td style="width: 20%;" class="text-center">{{ row.code }}</td>
                  <td style="width: 12%;" class="text-center">{{ row.suspend_date }}</td>
                  <td style="width: 27%;">{{ row.suspend_remarks }}</td>
                  <td style="width: 16%;" class="text-center">{{ row.suspend_currency_code }}</td>
                  <td style="width: 20%;" class="text-right">{{ row.suspend_amount | number : '1.2-2'}}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-default btn-round"
                      (click)="btnSelectRowSuspend(row.code, row.suspend_currency_code, row.suspend_amount, row.suspend_date)">Select</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup suspend-->

<!--#region lookup cashier received request-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalCashiesrReceivedRequest"
  style="margin-top: -65px">
  <!-- spinner region -->
  <div class="panel-container-spinner" *ngIf="showSpinner">
    <app-spinner class="spinner-container"></app-spinner>
  </div>
  <!-- end spinner region -->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden; padding: 10px;">
        <div class="col-md-12">
          <!--#region button add-->
          <button class="btn btn-info btn-round" (click)="btnSelectAllLookup()" data-role="R00003330000000C"
            id="button">
            Add
          </button>
          <!--#endregion button add--->
          <div class="card-body col-md-12" style="width: 100%">
            <table id="datatableLookupCashiesrReceivedRequest" class="table table-striped table-bordered hover"
              cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="disabled-sorting">No</th>
                  <th class="disabled-sorting">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="checkallLookup"
                          [(ngModel)]="selectedAllLookup" (change)="selectAllLookup();" />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </th>
                  <th>Request No</th>
                  <th>Remark</th>
                  <th>Currency</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupcashierreceivedrequest;let i=index ">
                  <td style="text-align: center;">{{lookupcashierreceivedrequest.numberIndex+i+1}}</td>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="row.selectedLookup"
                          (change)="checkIfAllLookupSelected($event, row.code, row.request_amount, row.request_currency_code, row.request_remarks);">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td style="width: 20%;" class="text-center">{{row.code}}</td>
                  <td style="width: 45%;">{{row.request_remarks}}</td>
                  <td style="width: 15%;" class="text-center">{{row.request_currency_code}}</td>
                  <td style="width: 20%;" class="if-no-edit-btn text-right">{{row.request_amount | number : '1.2-2'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup cashier received request-->

<!--#region lookup Approval-->
<div class="modal bd-example-modal-lg" tabindex="-1" aria-hidden="true" id="lookupModalApproval"
  style="margin-top: -65px">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="overflow:hidden;">
        <div class="col-md-12">
          <div class="card-body col-md-12">

            <table id="datatableLookupApproval" class="table table-striped table-bordered hover" cellspacing="0"
              style="min-width: 100%;">
              <thead>
                <tr>
                  <th style="display: none;"></th>
                  <th class="disabled-sorting">No</th>
                  <th>Employee</th>
                  <th>Position</th>
                  <th>Level</th>
                  <th>Result</th>
                  <th>Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of lookupapproval;let i=index ">
                  <td style="display: none;"></td>
                  <td style="text-align: center;">{{lookupapproval.numberIndex+i+1}}</td>
                  <td class="if-no-edit-btn" style="width: 30%;text-align: left;">
                    {{row.emp_name}} {{row.is_mandatory_level}}</td>
                  <td style="width: 20%;text-align: left;">{{row.emp_position_name}}</td>
                  <td style="width: 5%;text-align: center;">{{row.approval_level}}</td>
                  <td style="width: 15%;text-align: center;">
                    {{row.result_status}}<br>
                    {{row.result_date}}
                  </td>
                  <td style="width: 30%;">{{row.result_remarks}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--#endregion lookup Approval-->